.composition {

    &__photo{
        width:55%;
        box-shadow:0 1.5rem 4rem rgba($color-black, .4);
        z-index:10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1{
           transform: translate(0, -10%);
           &:hover{
            transform: scale(1.05) translateY(-10%);
           }
        }
        &--p2{
           transform:translate(80%, -90%);
           &:hover{
               transform:  scale(1.05) translate(80%, -90.5%); 
           }
        }
        &--p3{
            transform: translate(35%, -150%);
            &:hover{
                transform: translate(35%, -150.5%) scale(1.05);
            }
        }
        &:hover{
            outline: 1.5rem solid $color-medium-green;
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index:20;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}