/*===================
===================*/
/*================
======HEADER======
================*/

.header{
    height: 95vh;
    background-image:
       linear-gradient(to right bottom,
       rgba($color-light-green, .8),
       rgba($color-dark-green, 0.8) ),
       url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0,100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0,100% 0, 100% 80vh, 0 100%);
    position: relative;
  
    &__logo-box{
      display: flex;
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  }
  
  .header__logo{
    height: 3.5rem;
  }
  .header__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align:center;
  }
  .heading-primary{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
  
      &--main{
      display: block;
      font-weight:400;
      font-size: 6rem;
      letter-spacing: 3.5rem;
      animation: 1s slideInLeft ease-out;
      }
      &--sub{
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 17.4px;
      animation: 1s slideInRight ease-out;
      
      }
  }
  